@import "base/variable.scss";
@import "base/mixin.scss";

@import "util/layout.scss";

@import "base/reset";
@import "base/core";

@import "component/button.scss";

.m-form-row {
  label {
    color: #666;
    display: block;
  }

  input {
    display: block;
    outline: none;
  }

  input[type="text"], input[type="password"] {
    height: 2rem;
    border: none;
    border-bottom: 2px solid rgba(85, 85, 85, .4);
    margin: .3rem 0 .9rem;

    transition: border-color .2s;

    &:active, &:focus {
      border-color: $primary-color;
    }
  }

  & > * {
    width: 100%;
  }
}